html,
body,
#root {
  position: fixed;
  inset: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #1b1b1b;
} */

.leva-wrapper {
  position: absolute;
}

.leva-wrapper > div {
  max-width: 380px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .leva-wrapper {
    display: none;
  }
}
